body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
  width: 600px;
  margin: 0 auto;
}


.container2 {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*text-decoration: none;*/
}

.athing {
  width: 10%;
}

.bthing {
  width: 88%;
}

.nonlink {
  text-decoration: none;
}

.grey {
  color:gray;
}

.image2 {
  display: flex;
  width: 98%;
}

.image1 {
  display: flex;
  width: 95%;
}